

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="row">
      <div class="col-12 col-md-9">
        <h1><%= link_to place.name, place_path(place) %></h1>
        <i><%= place.address %></i><br /><br />
        <p><%= place.description %></p>
        <% if place.user.present? %>
          <small>- <%= place.user.email %></small>
        <% end %>
        <br />
      </div>
    </div>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote class="comment">
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> - <%= place.comments.last.message %>
          <% end %>
          <small>- <%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>