




<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br /> <br />
  <p><%= @place.description %></p>


    <script>
      function initMap() {
        var myLatLng = {lat: 39.9454134, lng: -83.1200583};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-IJzmRRLYSpafa0sTJIM4GnocWORnX5s&callback=initMap">
      </script>

    <div id="map"></div>



  <br />


  <div class="float-right">
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-secondary' %>
      <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>

  <div class="float-right">
    <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#photoModal">Add a photo</button>
  </div>

  <div class="float-right">
    <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#myModal">Add a review</button>
  </div>

  <br /><br />
  <div class="clear"></div>
  <hr />

  <h2 class="float-left">Reviews</h2>
  <br class="clear">
  <div class="row col-10 offset-1">
    <% @place.comments.each do |comment| %>
     <div class="col-12 col-sm-6">
        <blockquote class="comment">
          <% if comment.humanized_rating.present? %>
            <b><%= comment.humanized_rating %></b> - <%= comment.message %>
          <% end %>
          <small>- <%= comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
  <hr />

  <h2 class="float-left">Photos</h2>
  <br /><br class="clear">
  <div class="row col-10 offset-1">
    <% @place.photos.each do |photo| %>
      <div class="col-12 col-sm-6">
        <blockquote class="photo-display">
          <%= image_tag photo.picture, class: 'show-image-size' %>
          <p><% if photo.caption.present? %>
            <%= photo.caption %></p>
          <% end %>
        </blockquote>
      </div>
    <% end %>
  </div>


<div class="clear"></div>

<!-- Review Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@place, @comment] do |f| %>
        <div class="modal-body">
          <%= f.input :message, label: 'Review' %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add a review", class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Photo Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :picture %>
          <%= f.input :caption %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add a photo", class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>


